mixin text-type(options)
   
  .text-type__item
    case options.tag
      when 'h1'
        h1(class='text-type__item__name')= options.name
        h1= options.text
      when 'h2'
        h2(class='text-type__item__name')= options.name
        h2= options.text
      when 'h3'
        h3(class='text-type__item__name')= options.name
        h3= options.text
      when 'p'
        p(class='text-type__item__name')= options.name
        p= options.text