extends ../layouts/uikit

include ../components/text-field/text-field
include ../components/dropdown/dropdown
include ../components/checkbox/checkbox
include ../components/radio/radio
include ../components/toggle/toggle

block variables
  - let page_title = 'Form Elements'

block content
  .row.form-elements
    section
      h3= 'default'
      +text-field({id: 'date', label: 'text field', type: 'email', placeholder: 'Email'})
      +text-field({id: 'date_focused', label: 'text field', placeholder: 'Text', text: 'This is pretty awesome', extra_label: 'Hover / Focus'})
      +dropdown({id: 'dropdown', label: 'dropdown', name: 'example-name'},{text: 'Сколько гостей', value: 'guests_number'})
      label(for='input-masked')= 'masked text field'
      input(id='input-masked' class='input-masked' type='text' placeholder='ДД.ММ.ГГГГ')

    section
      label= 'Checkbox Buttons'
      +checkbox

      label= 'Radio Buttons'
      +radio
      
      label= 'toggle'
      +toggle
    section
      p= page_title