mixin checkbox(args)

  .checkbox-group
    if(args.checked)
      input(id=args.id type='checkbox' name=args.id checked)
    else
      input(id=args.id type='checkbox' name=args.id)
    label(for=args.id)= args.label